body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 50px;
    background-color: #ffffff; 
    padding: 30px;
    border-radius: 12px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 30px;
    text-align: center; 
    color: #49545c;
}


.product-price {
    margin-top: 20px;
    font-weight: bold;
    color: #ffffff;
    text-align: center; 
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085; 
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d; 
}

.btn-secondary:hover {
    background-color: #5a6268; 
    border-color: #545b62;
}

.text-danger {
    color: #000000;
}